<%- include('../partials/header') %>
<h1>Details</h1>
<section id="detailsList">
      <div>Taxi Number</div>
      <div><%= taxi.taxiNum %></div>
      <div>Destination</div>
      <div>DESTINATION HERE</div>
      <div>Departs</div>
      <div>DEPARTS HERE</div>
      <div>Reviews</div>
      <div>REVIEWS HERE</div>
    </tr>
</section>
<%- include("../partials/footer") %>