<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxis</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <nav>
<!-- nav bar links here -->
        <a href="/new">Add Trip</a>
        <a href="/">All Trips</a>
        <!-- here i need an href to the credentials authentication -->
        <a>Login</a>
    </nav>

